.trending {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.trending__swiper {
  width: fit-content;
  margin: 0;
}

.swiperSlide {
  width: 470px !important;
}
