.auth {
  width: 400px;
  margin: 0 auto;
}

.content {
  align-self: center;
  background-color: var(--semiDarkBlue);
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--pureWhite);
  display: block;
  max-width: 430px;
  padding: 32px;
  margin: 187px 0 0 -115px;
  position: relative;
  width: 100%;
}

.title {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  margin: 0 0 40px;
}

.form {
  border: none;
}

.information {
  border: none;
  margin: 0;
  padding: 0;
}

.input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: white;
  border: none;
  width: 100%;
  background-color: transparent;
  padding: 0 0 18px 16px;
  border-bottom: 2px solid var(--greyishBlue);
  box-sizing: border-box;
}

.input__wrapper {
  margin-bottom: 30px;
  display: flex;
  width: 336px;
  position: relative;
}

.input__wrapper:last-of-type {
  margin-bottom: 0;
}

.input:focus {
  outline: none;
  border-color: var(--pureWhite);
}

.button {
  background-color: var(--red);
  padding: 14px 90px;
  margin: 40px 0 24px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper__redirect {
  display: flex;
  align-items: center;
  font-weight: 300;
  margin-left: 30px;
}

.text {
  font-size: 18px;
  margin-right: 10px;
}

.span {
  color: var(--red);
}

.link {
  text-decoration: none;
}

.error {
  margin: 0;
  margin-top: 10px;
  color: var(--red);
}

.span__error {
  position: absolute;
  right: 10px;
  top: 0;
  font-weight: 300;
  color: var(--red);
}

.error__submit {
  color: var(--red);
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

