.wrapper {
  position: absolute;
  left: 80px;
  bottom: -25px;
  background-color: var(--semiDarkBlue);
  padding: 15px;
  border-radius: 20px;
  height: 120px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  background-color: var(--red);
  border-radius: 20px;
  width: 100px;
  padding: 10px 15px;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.link {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100px;
    height: 70px;
    left: -40px;
    top: 58px;
  }
}

@media screen and (max-width: 451px) {
  .wrapper {
    width: 100px;
    height: 60px;
    left: -60px;
  }
}
