.navbar {
  position: fixed;
  top: 32px;
  left: 32px;
  background-color: var(--semiDarkBlue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  padding: 28px 0 28px 0;
  width: 100%;
  height: calc(100vh - 15%);
  border-radius: 20px;
  z-index: 100;
}

.navbar__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__logo {
  width: 32px;
  height: 25px;
}

.navbar__list_img {
  width: 20px;
  height: 20px;
}

.navbar__list {
  list-style: none;
  margin: 75px 0 0;
  padding: 0;
}

.navbar__list_item {
  margin-top: 40px;
}

.navbar__list_item:first-child {
  margin-top: 0px;
}

.navbar__user-avatar {
  max-width: 40px;
  height: auto;
  border: 3px solid var(--pureWhite);
  border-radius: 50px;
}
