.navbar {
  position: fixed;
  top: 32px;
  left: 32px;
  background-color: var(--semiDarkBlue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  padding: 28px 0 28px 0;
  width: 100%;
  height: calc(100vh - 15%);
  border-radius: 20px;
  z-index: 100;
}

.navbar__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__logo {
  width: 32px;
  height: 25px;
}

.navbar__list {
  list-style: none;
  margin: 75px 0 0;
  padding: 0;
}

.navbar__list_item {
  margin-top: 40px;
}

.navbar__list_img {
  width: 20px;
  height: 20px;
  transition: all 0.8s ease;
}

.navbar__link:hover > .navbar__list_img * {
  fill: var(--red);
  transition: 0.3s;
}

.active > .navbar__list_img * {
  fill: var(--pureWhite);
}

.navbar__list_item:first-child {
  margin-top: 0px;
}

.navbar__user {
  position: relative;
}

.navbar__user_avatar {
  max-width: 40px;
  height: auto;
  border-radius: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navbar {
    flex-direction: row;
    top: 23px;
    left: 25px;
    max-width: 94.5%;
    height: 72px;
    justify-content: space-around;
    padding: 0;
  }
  .navbar__wrapper {
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__list {
    display: flex;
    margin: 0;
    width: 172px;
    justify-content: space-between;
  }
  .navbar__list_item {
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .navbar__wrapper {
    width: 65%;
  }
  .navbar {
    left: 9px;
    max-width: 95.5%;
  }
}

@media screen and (max-width: 420px) {
  .navbar__wrapper {
    width: 65%;
  }
  .navbar {
    left: 23px;
    max-width: 92.5%;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    left: 9px;
    max-width: 95.5%;
  }
}
