@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");
@import url(../src/vendor/normalize.css);
body {
  background-color: #10141e;
}

main {
  margin: 32px 0 0;
  padding: 0 2.5% 0 130px;
}

:root {
  --red: #fc4747;
  --pureWhite: #fff;
  --darkBlue: #10141e;
  --semiDarkBlue: #161d2f;
  --greyishBlue: #5a698f;
}

.page {
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  max-width: 1920px;
  color: white;
}

.swiper-container {
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 32px 0 0;
    padding: 0 2.5% 0 25px;
  }
}
@media screen and (max-width: 375px) {
  main {
    margin: 32px 0 0;
    padding: 0 2.5% 0 2.5%;
  }
}