:root {
  --red: #fc4747;
  --pureWhite: #fff;
  --darkBlue: #10141e;
  --semiDarkBlue: #161d2f;
  --greyishBlue: #5a698f;
}

body {
  background-color: #10141e;
}

.page {
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 1440px;
  color: white;
}
